/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Style header */

.flexbox {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-start;
}

header {
    background-color: #000000;
    height: 30px;
    color: white;
    padding-top: 10px;
}

.btn {
    height: 30px;
    font-size: 12px;
    border-style: none;
    background-color: #4A4A4A;  
    color: white;
    text-decoration: none;
    padding: 5px 4px;
    border-radius: 5px;
    text-align: center;
}

.maximize-view.btn {
    padding: 5px 6px;
    margin: 0 10px;
}

/* Style main */

main {
    background-color: #000000;
}

.grid {
 max-width: 95vw;
 margin: 0 auto;
 /* border: 1px solid green; */
 padding-top: 40px;
}

.speaker-window {
    width: calc((95vw - 30px) / 7);
    height: 150px;
    /* border: 1px solid red; */
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
}


.flexbox1 {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly;
    align-items: flex-start; */
}

.speaker-window.last {
    margin-right: 0;
}

.speaker-window.first {
    margin-left: 0;
}

.label {
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.7);
    font-size: 14px;
    padding: 5px 4px;
}

div.speaker-window i {
    margin-right: 5px;
}


/* Style footer  */

footer {
    height: 80px;
    background-color: #222222;
    color: white;
}

div.footer-left i {
    padding-bottom: 10px;
    font-size: 26px;
    padding-left: 20px;
    padding-top: 5px;
}

.function {
    font-size: 13px;
    text-align: center;
    padding-left: 20px;
}

div.footer-left i.caret {
    font-size: 10px;
    margin-left: 10px;
}

.flex-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; 
}

/* .footer-center.flex-footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
} */

ul {
    list-style: none;
}


ul.flex-footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 26px;
    padding-left: 20px;
    padding-top: 5px;
}
