/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Style header */

.flexbox {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-start;
}

header {
    background-color: #000000;
    height: 30px;
    color: white;
    padding-top: 10px;
}

.btn {
    height: 30px;
    font-size: 12px;
    border-style: none;
    background-color: #4A4A4A;  
    color: white;
    text-decoration: none;
    padding: 5px 4px;
    border-radius: 5px;
    text-align: center;
}

.maximize-view.btn {
    padding: 5px 6px;
    margin: 0 10px;
}

/* Style main */

main {
    background-color: #000000;
}

.grid {
 max-width: 95vw;
 margin: 0 auto;
 /* border: 1px solid green; */
 padding-top: 40px;
}

.speaker-window {
    width: calc((95vw - 30px) / 7);
    height: 150px;
    /* border: 1px solid red; */
    margin-right: 5px;
    margin-bottom: 10px;
}

.flexbox1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.speaker-window.last {
    margin-right: 0;
}

.speaker-window.first {
    margin-left: 0;
}

/* Style footer  */

footer {
    height: 65px;
    background-color: #222222;
}