/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Style header */

.flexbox {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-start;
}

header {
    background-color: #000000;
    height: 40px;
    color: white;
    padding-top: 10px;
}

.btn {
    height: 30px;
    font-size: 13px;
    border-style: none;
    background-color: #4A4A4A;  
    color: white;
    text-decoration: none;
    padding: 5px 4px;
    border-radius: 5px;
    text-align: center;
}

.maximize-view.btn {
    padding: 5px 6px;
    margin: 0 10px;
}

/* Style main */

main {
    background-color: #000000;
}

.grid {
 max-width: 90vw;
 margin: 0 auto;
 border: 1px solid green;
 padding-top: 50px;
}

.speaker-window {
    width: calc((100vw - 10px) / 8);
    height: 150px;
    border: 1px solid red;
    margin-right: 5px;
    margin-bottom: 10px;
}

.flexbox1 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
}

.speaker-window.last {
    margin-right: 0;
}

/* Style footer  */

footer {
    height: 80px;
    background-color: #222222;
}