/* Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --light-grey: #4A4A4A;
    --transparent-grey: rgba(128, 128, 128, 0.7);
    --light-black: #222222; 
    --acid-green: #4BC800; 
    --red: red;    
}

.wrapper {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100 vw;
    background-color: var(--black);
    overflow: hidden;
}

/* Style header */

.flexbox {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    justify-content: flex-end;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}


header {
    height: 30px;
    color: var(--white);
    padding-top: 10px;
}

.btn {
    height: 30px;
    font-size: 12px;
    border-style: none;
    background-color: var(--light-grey); 
    color: var(--white);
    text-decoration: none;
    padding: 5px 4px;
    border-radius: 5px;
    text-align: center;
}

.maximize-view.btn {
    padding: 5px 6px;
    margin: 0 10px;
}

/* Style main */

.grid {
 max-width: 90vw;
 margin: 0 auto;
 padding-top: 30px;
 height: calc(100vh - 130px);
 overflow-y: hidden;
}

.speaker-window {
    width: calc(90vw / 7);
    position: relative;
    padding: 5px;
}

.speaker-window img {
    width: 100%;
}

.label {
    color: var(--white);
    position: absolute;
    left: 5px;
    bottom: 10px;
    background-color: var(--transparent-grey);
    font-size: 14px;
    padding: 5px 4px;
}

div.speaker-window i {
    margin-right: 5px;
}


/* Style footer  */

footer {
    height: 100px;
    background-color: var(--light-black);
    color: var(--white);
    margin-top: 25px;
    font-size: 14px;
}

footer i {
    font-size: 20px; 
    padding-bottom: 5px;
}

footer i.caret {
    font-size: 10px;
    padding-top: 15px;
}

.fa-solid.fa-share-from-square {
    color: var(--acid-green); 
}

ul li {
    list-style: none;
    margin: 15px 10px;
    text-align: center;
}

footer a {
    color: var(--white);
}

.end-button {
    font-size: 12px;
    background-color: var(--light-grey);
    text-align: center;
    height: 100px;
    padding: 30px 15px;
}

.end-button a {
    color: var(--red);
    text-decoration: none;
}